<form class="ui stacked segment form" action="/club/{{id}}/addplayer" method="POST">
  <div class="two fields">
    <div class="field">
      <label>Name</label>
      <input type="text" name="name" autofocus required title="Please include a valid name" placeholder="Player Name">
    </div>
    <div class="field">
      <label>Position</label>
      <div class="ui selection dropdown">
        <input type="hidden" name="position" value="{{position}}">
        <i class="dropdown icon"></i>
        <div class="default text">Select Position</div>
        <div class="menu">
          <div class="item" data-value="Goalkeeper">Goalkeeper</div>
          <div class="item" data-value="Defender">Defender</div>
          <div class="item" data-value="Midfielder">Midfielder</div>
          <div class="item" data-value="Attacker">Attacker</div>
        </div>
      </div>
    </div>
  </div>
  <div class="three fields">
    <div class="field">
      <label>Goals</label>
      <input type="number" name="goals" min="0">
    </div>
    <div class="field">
      <label>Assists</label>
      <input type="number" name="assists" min="0">
    </div>
    <div class="field">
      <label>Years at Club</label>
      <input type="number" name="years_at_club" min="0">
    </div>
  </div>
  <button class="custom-blue-button">Add Player</button>
</form>