{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
  Welcome to the Footballers App, {{fullname}}!
</h2>

  <p>
    This app allows you to create different football teams and inside them
create your own players, go crazy with custom teams or recreate some of your all time favourites!
Ever wanted Ronaldo and Messi to play for the same team? The Teams tab contains your created teams and inside contains the players you create, the only limit is your imagination. 
    Click on the About tab to find out more and view your own personal staistics. The search tab allows you to sort through your teams by League.
  </p>

  <img class="ui fluid rounded image" src="https://cdn.glitch.global/96acecac-93bb-4e26-9570-38fc4ad2dc20/rB8qZFupgeaAM4OnABF6JQx7RZs239.png.webp?v=1740579139175">
  
</section>
